@charset "utf-8";
/* CSS Document */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, dd, dl, dt, li, ol, ul,input,select,button,textarea,tr,td{ padding:0; margin:0; border:none;}
input,button,select,textarea,a,img{outline:none; }/*去掉超链接或按钮点击时出现的虚线框黄色边框*/
::-moz-focus-inner{border:0px;}/*火狐的私有属性去掉点击时边框*/
body,html{ width:100%; font-family:"Microsoft YaHei","Arial", "SimSun";}
ul, ul li, ol li, li {	list-style:none;}
a, img, input, textarea {border:none;}
a {
    text-decoration: none;
}
table {	border-collapse: collapse;border-spacing:0;}
.clearfix:after {visibility: hidden;display: block;font-size: 0;content: ".";clear: both;height: 0;}
* html .clearfix {zoom: 1;}
*:first-child + html .clearfix {zoom: 1;}
.fl {	float:left;}
.fr {	float:right;}
.none{	display:none;}

.inrow{font-size:0;[;font-size:12px;];*font-size:0;font-family:arial;[;letter-spacing:-3px;];*letter-spacing:normal;*word-spacing:-1px;}
.inrow>li,.inrow span{display:inline-block;*display:inline;*zoom:1;font-size:14px;letter-spacing:normal;word-spacing:normal; }
.dataNums{
    display: inline-block;
    /*width: 100%;*/
    height: 30px;
    text-align: left;
    margin: 3px 0 7px 15px;
        position: relative;
            z-index: 99;
    }


#dataNums1{
    display: block;
    height: 30px;
    text-align: left;}
#dataNums2{
    display: block;
    height: 30px;
    text-align: left;}
#dataNums3{
    display: block;
    height: 30px;
    text-align: left;}



.dataNums .dataOne{ width:15px; height:30px; margin: 0px 3px; text-align: center;position: relative;}
.dataNums .dataBoc {position: relative; width: 100%; height: 100%; overflow: hidden;}
.dataNums .dataBoc .tt {position: absolute; top: 0;  left: 0; width: 100%;  height: 100%;}
.dataNums .tt span{width:100%;height:100%;    font-size: 30px;line-height: 30px;
    font-weight: bold;color:#1df7ea;}






.afterqian:before{
	    content: '￥';
    color: #1df7ea;
    font-size: 25px;
    position: absolute;
    left: -7px;
        top: -1px;
    font-weight: bold;
}
.afterjia:before{
	    content: '家';
    color: #1df7ea;
    font-size: 17px;
    top: 9px;
    /* left: 6px; */
    font-weight: bold;
    right: -20px;
    position: absolute;
}





/*---------------------------------------------------------------上面是交易额数据样式*/

    .bodycls{
        /*width: 100%;*/
    }
    .div_left{
        position: relative;
        /*display: inline-block;*/
        float: left;
        width: 55%,
    }
    .div_right{
        position: relative;
        /*display: inline-block;*/
        float: right;
        width: 44%,
    }


    .ditu_cls{
        min-width: 940px;
        min-height: 500px;
        margin-left: 20%;
        /*border: 1px solid red;*/
    }


/*右边布局*/
ul{list-style: none;padding-inline-start: 0px;margin-block-start: 0px;margin-block-end: 0px;}
.ul_tit{color:#fff;font-weight: bold;position:absolute;background: #fe6a22;padding: 5px;width: 230px;bottom: 180px;font-size: 25px;}
.ul_titi2{margin-top:14px;color: #fff;font-weight: bold;background: #fe6a22;padding: 5px;width: 245px;font-size: 25px;}
/*第一块*/
.line_yi_le{position: relative;display: inline-block;}
.line_yi_ri{position: relative;display: inline-block;}
.line_yi_le li{color: #fff;width: 355px;border-bottom:1px solid #fff;letter-spacing:3px;line-height:35px;
display:block;overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.line_yi_ri li{color: #fff;width: 355px;border-bottom:1px solid #fff;letter-spacing:3px;line-height:35px;
display:block;overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
/*第二块*/
.line_ul_yi{}
.line_ul_shen{background:#2b4c75;}
.line_ul_qian{background:#197ae3;}
.line_ul_yi li{display: inline-block;width: 140px;text-align: center;line-height: 35px;}
.line_ul_shen li{width: 140px;display: inline-block;text-align: center;line-height: 35px;}
.line_ul_qian li{width: 140px;display: inline-block;text-align: center;line-height: 35px;}
/*第三块*/
.line_ul_san{margin-top:8px;}
.line_ul_san li{display: inline-block;width: 115px;text-align: center;color: #fff;}
.line_ul_san p{background: #fe6a22;width: 16px;border-radius: 15px;line-height: 16px;display: inherit;}






    /*平台累计交易额*/
    .div_moni{position: absolute;}
    .div_moni span{font-size: 20px;color: #fff;font-weight: 500;white-space: nowrap;}
    /*.div_moni b{font-size: 25px;color: #1df7ea !important; 
        style="font-size: 25px;color: #1df7ea !important; style="color:red;"font-weight: bold;display: block;"font-weight: bold;display: block;}
    .tant{ 
        style="font-size: 25px;color: #1df7ea !important; style="color:red;"font-weight: bold;display: block;"display: inline-block;-webkit-animation: mymove 1s infinite; animation: mymove 4s infinite;}
    @-webkit-keyframes mymove {50% {opacity: 0;}}*/

    .titcls{color:#d4b408;}